body {
    font-family: Splatoon2, Arial, Helvetica, sans-serif;
    /* background-color: #3A3A3A; */
    background-color: #2A2F35;
    color: #FFFFFF;
    margin: 0;
    font-size: 24px;
}

img {
    display: block;
    width: 100%;
    height: auto;
}


/********** WEAPON RANDOMISER **********/
.shell {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* opacity: 0.6; */
    justify-content: center;
}

.weapon-container {
    max-width: 768px;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .weapon-container {
        max-width: 100%;
    }
}

.name-frame {
    background-color: #DFAF00;
    border-radius: 30px;
    padding: 1% 4% 1% 4%;
}

.name-container {
    font-family: Splatoon1, Arial, Helvetica, sans-serif;
    font-size: 39px;
    letter-spacing: -1px;
    word-spacing: -4px;
    padding: 1% 3.9% 0;
    background-color: #161616;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .name-container {
        font-size: 5.1vw;
        letter-spacing: calc(0.1vw * -1);
        word-spacing: calc(0.5vw * -1);
    }
}

.details-container {
    display: flex;
}

.main-img {
    display: block;
    width: 37%;
}

.main-img-container{
    margin: 10% 8% 0 19%;
    background-color: #DDDDDD;
    border-radius: 30%;
}

.main-img-container>img{
    filter: drop-shadow(0 5px 0 #888888);
}

@media only screen and (max-width: 768px) {
    .main-img-container>img{
        margin: 0;
        width: 100%;
        height: auto;
    }
}

.info-container {
    display: block;
    width: 63%;
}

.stats-container {
    font-size: 26px;
    margin: 2.5% 6.4% 0 4.8%;
    line-height: 165%;
    background-color: #282828;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .stats-container {
        font-size: 3.4vw;
    }
}

.stat {
    display: flex;
    margin-right: 7%;
}

.stat-label-container {
    display: block;
    width: 48%;
    text-align: right;
}

.stat-label {
    padding-right: 2%;
}

.stat-bar {
    display: block;
    overflow: hidden;
    background-color: #161616;
    width: 52%;
    margin: 2% 0;
    border-radius: 2px;
}

.stat-value {
    width: 0%;
    height: 100%;
    background-color: #DFAF00;
    border-radius: 2px;
}

.sub-container::before,.special-container::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%;
    height: 94%;
    background-color: #282828;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: -1;
}

.sub-container,.special-container {
    display: flex;
    margin: 1.2% 6.4% 2% 2.6%;
    height: 27.1%;
    position: relative;
} 



.sub-img,.special-img {
    display: block;
    width: 19.5%;
    background-color: #161616;
    border-radius: 25px;
    border-radius: 30%;
}

.sub-img>.img-container {
    margin: 9% 13% 0 13%;
}

.special-img>.img-container {
    margin: 6% 9% 0 9%;
}

.sub-name,.special-name {
    display: block;
    width: 80.5%;
    font-size: 34px;
    padding-top: 8.8%;
    padding-left: 1.7%;
    line-height: 1;
}

@media only screen and (max-width: 768px) {
    .sub-name,.special-name {
        font-size: 4.5vw;
    }
}

.points-container {
    display: flex;
    font-size: 39px;
    letter-spacing: -0.7px;
    word-spacing: 4px;
    margin: 4.4% 4% 0 4%;
    padding: 2% 0;
    line-height: 1;
    background-color: #282828;
    border-radius: 5px;
}
@media only screen and (max-width: 768px) {
    .points-container {
        font-size: 5.1vw;
        letter-spacing: -0.1px;
        word-spacing: 0;
    }
}

.points-label {
    display: block;
    width: 50%;
    padding-left: 3.7%;
}

.points-value {
    display: block;
    width: 50%;
    text-align: right;
    padding-right: 8.2%;
}

.button-container {
    padding-top: 48px;
    padding-bottom: 24px;
    text-align: center;
}

.randomise {
    font-family: Splatoon2, Arial, Helvetica, sans-serif;
    border: none;
    padding: 16px 36px;
    cursor: pointer;
    font-size: 24px;
    background-color: #DFAF00;
    color: #161616;
    border-radius: 5px;
}

.randomise:hover {
    background-color: #b89000;
}



/********** LOADING PAGE **********/
.loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2A2F35;
    z-index: 20;
    display: flex;
    align-items: center;
}

.loading-shell{
    max-width: 768px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}

.loading-container {
    display: flex;
    justify-content: space-between;
}

.loading-bar {
    width: 100%;
    height: 40px;
    background-color: #161616;
    border-radius: 2px;
}

.loading-progress {
    width: 0%;
    height: 100%;
    background-color: #DFAF00;
    border-radius: 2px;
}




/********** PAGE SIDE NAVIGATION **********/
.side_menu{
    position: absolute;
    z-index: 10;
}

.side_menu_content {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #161616;
    overflow-x: hidden;
    transition: 0.5s; 
    width: 768px;
    transform: translateX(-100%);
}
@media only screen and (max-width: 768px) {
    .side_menu_content {
        width: 100%;
    }
}

.side_menu_content.open {
    transform: translateX(0%);
}

.side_menu_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.side_menu_title {
    font-family: Splatoon1, Arial, Helvetica, sans-serif;
    padding: 16px 25px 0 25px;
    line-height: 1.4;
    word-wrap: break-word;
    white-space: normal;
}

.side_menu_close {
    font-family: Splatoon2, Arial, Helvetica, sans-serif;
    border: none;
    height: 60px;
    width: 60px;
    min-height: 60px;
    min-width: 60px;
    cursor: pointer;
    font-size: 24px;
    background-color: #DFAF00;
    color: #161616;
    border-bottom-left-radius: 5px;
    align-self: flex-start;
}


.side_menu_body {
    padding: 0 25px;
}


.side_menu_nav {
    padding-top: 25px;
}
@media only screen and (max-width: 768px) {
    .side_menu_nav {
        padding-top: 0;
    }
}


.side_menu_nav>button {
    font-family: Splatoon2, Arial, Helvetica, sans-serif;
    border: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
    font-size: 24px;
    background-color: #DFAF00;
    color: #161616;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.weapon_card_container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 20px -5px;
}
@media only screen and (max-width: 768px) {
    .weapon_card_container{
        justify-content: center;
    }
}

.weapon_card_shell {
    width: 100px;
    margin: 5px 0;
}

.weapon_card {
    margin: 0 5px;
    background-color: #DDDDDD;
    text-align: center;
    display: block;
    position: relative; 
    white-space: normal;
    border-radius: 5px;
    line-height: 1.4;
    user-select: none;
}
.weapon_card[data-selected="false"] {
    background-color: #2A2F35;
}

.weapon_card_weapon{
    font-size: 12px;
}

.weapon_card_class {
    height: 90px;
    font-size: 18px;
}
.weapon_card_class[data-selected="false"] {
    color: #DDDDDD;
}

.weapon_card_img {
    display: block;
    width: 100%;
    height: auto;
    filter: drop-shadow(0 5px 0 #888888);
}

.weapon_card_name {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: rgb(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.1s;
}
@media only screen and (max-width: 768px) {
    .weapon_card_name {
        opacity: 1;
    }
}

.weapon_card_class>.weapon_card_name{
    height: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weapon_card:hover{
    cursor: pointer;
}

.weapon_card:hover .weapon_card_name{
    opacity: 1;
}


.weapon_card[data-selected="false"] .weapon_card_img{
    filter: grayscale(100%);
}

